@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
	<div class="row">
		<div class="col-md-7 col-sm-6">
			<div class="about-title clearfix">
				<h1>About <span>FATOB</span></h1>
				<h3>Info</h3>
				<p class="about-paddingB">
					Welcome to fatob.com, your one-stop destination for hassle-free bus travel. Discover the convenience of booking your bus tickets online with just a few clicks. Whether you're planning a weekend getaway, a business trip, or visiting loved ones, we've got you covered.
					Our user-friendly platform offers a wide range of routes, schedules, and destinations, making it easy to find the perfect bus ticket that suits your needs. With secure payment options and instant e-ticketing, your journey begins as soon as you hit 'book.'
					Say goodbye to long lines and hello to seamless travel planning. YourBusTickets.com ensures a comfortable, reliable, and affordable bus travel experience. Explore the world one bus ride at a time. Book your ticket today and let the adventure begin!
				</p>
			</div>
		</div>
		<div class="col-md-5 col-sm-6">
			<div class="about-img">
				<img src="" alt="">
			</div>
		</div>
	</div>
</div>