@*


<h1>Here you can get your ticket.</h1>
<h2>Please write your email address!</h2>


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="">Start City</label>
        <input asp-for="" class="form-control" placeholder="Start City">
        <span asp-validation-for=" class="text-danger"></span>
    </div>
</form>*@